.category{
    display: flex;
    height: 100%;
    flex: 1;
    justify-content:flex-start;
}

.button{
    position:relative;
    width: 216px;
    height: 60px;
    left: 150px;
    top: 80px;
    margin-right: 20px;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 15px;
}