.image{
    position: relative;
    width: 220px;
    height: 300px;
    border-radius: 15px;
}

.card{
    position: relative;
    left: 150px;
    margin-right: 30px;
}

.description{
    display: flex;
    justify-content: space-evenly;
}

p{
    margin: 5px;
}

.likes{
    font-size: 20px;
}

.name{
    font-weight: 700;
    padding-top: 3px;
}